@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif !important;
}

body {
    --ion-background-color: #f5f5fa !important;
    --ion-text-color: #333 !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    height: 95vh;
    flex-direction: column;
}
ion-header {
    box-shadow:none !important;
}

ion-card,
ion-item {
    --color: linear-gradient(-119.774deg, rgba(151, 71, 255, 60%) 0%, #FD7DFB 82%) !important;
    --background: #f5f5fa !important;
    box-shadow: var(--neumorphism-out-shadow) !important;
    border-radius: 1rem !important;
}
ion-select {
    box-shadow: var(--neumorphism-out-shadow) !important;
    border-radius: 1rem !important;
}

ion-fab-button {
    --box-shadow: var(--neumorphism-out-shadow) !important;
}

ion-button {
    --color: linear-gradient(-119.774deg, rgba(151, 71, 255, 60%) 0%, #FD7DFB 82%) !important;
    --background: #f5f5fa !important;
    --box-shadow: var(--neumorphism-out-shadow) !important;
    --border-radius: 1rem !important;
    background: transparent;
    border: none;
    --padding-top: 14px;
    --padding-bottom: 14px;
}

ion-input {
    box-shadow: var(--neumorphism-in-shadow) !important;
    border-radius: 1rem !important;
}

ion-icon {
    color: #FD7DFB;
}

.gradient-text {
    background: linear-gradient(-119.774deg, rgba(151, 71, 255, 60%) 0%, #FD7DFB 82%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

.ion-no-shadow {
    --box-shadow: none !important;
    box-shadow: none !important;
}

ion-thumbnail {
    --border-radius: 50%;
}

ion-tab-bar {
    box-shadow: var(--neumorphism-out-shadow) !important;
    --border: none;
    border-radius: 1rem !important;
}

.custom-icon {
    font-size: 1.5rem;
}

