body {
    --ion-background-color: #f5f5fa !important;
    --ion-text-color: #333 !important;
}

ion-header {
    box-shadow:none !important;
}

ion-card,
ion-item {
    --color: linear-gradient(-119.774deg, rgba(151, 71, 255, 60%) 0%, #FD7DFB 82%) !important;
    --background: #f5f5fa !important;
    box-shadow: var(--neumorphism-box-shadow) !important;
    border-radius: 1rem !important;
}

ion-button {
    --color: linear-gradient(-119.774deg, rgba(151, 71, 255, 60%) 0%, #FD7DFB 82%) !important;
    --background: #f5f5fa !important;
    --box-shadow: var(--neumorphism-box-shadow) !important;
    border-radius: 1rem !important;
}

ion-button {
    background: transparent; /* Fond transparent pour laisser apparaître le texte et l'icône */
    border: none; /* Pas de bordure */
}
ion-icon {
    color: #FD7DFB;
}

.gradient-text {
    display: inline-block; /* Assure que le texte occupe un bloc en ligne */
    background: linear-gradient(-119.774deg, rgba(151, 71, 255, 60%) 0%, #FD7DFB 82%);
    -webkit-background-clip: text; /* Applique le fond comme un clip pour le texte */
    color: transparent; /* Le texte devient transparent pour ne montrer que le fond dégradé */
}

.ion-no-shadow {
    --box-shadow: none !important;
    box-shadow: none !important;
}

ion-thumbnail {
    --border-radius: 50%;
}

ion-tab-bar {
    box-shadow: var(--neumorphism-box-shadow) !important;
    --border: none;
    border-radius: 1rem !important;
}



