@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap');
* {
    font-family: "Inclusive Sans", serif;
}

body {
    --ion-background-color: #f5f5fa !important;
    --ion-text-color: #333 !important;
}

.full-width {
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    height: 95vh;
    flex-direction: column;
}
ion-header {
    box-shadow:none !important;
}

.no-background {
    --background: none !important;
}

ion-card,
ion-item {
    --color: linear-gradient(-119.774deg, rgba(151, 71, 255, 60%) 0%, #FD7DFB 82%) !important;
    --background: #f5f5fa !important;
    box-shadow: var(--neumorphism-out-shadow) !important;
    border-radius: 1rem !important;
}
ion-select {
    box-shadow: var(--neumorphism-out-shadow) !important;
    border-radius: 1rem !important;
    padding-left: 1rem;
}

ion-select::part(icon) {
    font-size: 20px !important;
    color: #9747ff !important;
    margin-left: auto !important;
}

ion-fab-button, ion-popover {
    --box-shadow: var(--neumorphism-out-shadow) !important;
}

ion-popover ion-item {
    border-radius:  0 !important;
    --background-activated: none;
    --background-focused: none;
    --background-hover: none;
}

ion-radio-group ion-item {
    box-shadow: none !important;
    --background: #f5f5fa !important;
    --color: #333 !important;
    margin: 0.6rem 0;
    transition: 0.3s ease;
}

ion-radio-group ion-item::part(native) {
    padding: 0 !important;
}

ion-radio-group ion-item {
    --inner-padding-start: 0 !important;
    --inner-padding-end: 0 !important;
}

ion-radio-group ion-radio {
    padding: 0 1rem;
}
ion-radio-group ion-radio:hover,
ion-radio-group ion-radio[aria-checked="true"],
ion-radio-group ion-radio:focus-within {
    box-shadow: var(--neumorphism-in-shadow) !important;
    color: var(--ion-color-secondary) !important;
    font-weight: bold;
}

ion-popover {
    --offset-y: 26px;
    /*--width: 450px;*/
}

ion-select-popover {
    border-radius: 1rem !important;
}

ion-popover ion-list {
    box-shadow:  none !important;
    padding: 0 !important;
}

ion-checkbox::part(container) {
    --border-radius: 50%;
    box-shadow: var(--neumorphism-out-shadow);
    height: 1.2rem;
    width: 1.2rem;
}

ion-checkbox {
    --checkbox-background-checked: var(--ion-color-secondary);
    --checkbox-color-checked: var(--ion-color-primary);
}

ion-checkbox::part(mark) {
    stroke-width: 3px;
    stroke: var(--ion-color-primary);
    padding: 1rem !important;
}

ion-button {
    --color: linear-gradient(-119.774deg, rgba(151, 71, 255, 60%) 0%, #FD7DFB 82%) !important;
    --background: #f5f5fa !important;
    --box-shadow: var(--neumorphism-out-shadow) !important;
    --border-radius: 1rem !important;
    background: transparent;
    border: none;
    --padding-top: 14px;
    --padding-bottom: 14px;
}

ion-input {
    box-shadow: var(--neumorphism-in-shadow) !important;
    border-radius: 1rem !important;
    margin-bottom: 1rem;
    --padding-start: 1rem !important;
    --padding-end: 1rem !important;
}

ion-icon {
    color: #FD7DFB;
}

.gradient-text {
    background: linear-gradient(-119.774deg, rgba(151, 71, 255, 60%) 0%, #FD7DFB 82%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

.ion-no-shadow {
    --box-shadow: none !important;
    box-shadow: none !important;
}

.ion-shadow-out {
    --box-shadow: var(--neumorphism-out-shadow) !important;
    box-shadow: var(--neumorphism-out-shadow) !important;
}

.ion-shadow-in {
    --box-shadow: var(--neumorphism-in-shadow) !important;
    box-shadow: var(--neumorphism-in-shadow) !important;
}

ion-chip {
    box-shadow: var(--neumorphism-out-shadow);
}
ion-list {
    --background: none !important;
    background-color: transparent !important;
    background: none !important;
}
ion-thumbnail {
    --border-radius: 50%;
}

ion-tab-bar {
    box-shadow: var(--neumorphism-out-shadow) !important;
    --border: none;
    border-radius: 1rem !important;
}

.custom-icon {
    font-size: 1.5rem;
}

ion-modal::part(handle) {
    background: var(--ion-color-primary);
    box-shadow: var(--neumorphism-out-shadow);
    margin-top: 1rem!important;
    height: 0.6rem;
    width: 6rem;
    /*border-radius: 1rem;*/
}

@media (min-width: 768px) {
    ion-modal {
        --border-radius: 1rem !important;
    }
}

ion-modal ion-grid {
    margin-top: 3rem !important;
}

@media (min-width: 768px) {
    ion-modal ion-grid {
        margin-top: 1rem !important;
    }}

.form-container {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .form-container {
        width: 380px;
    }
}

.ion-input-spacing {
    margin-bottom: 1.6rem;
}

.avatar-container {
    box-shadow: var(--neumorphism-out-shadow);
    border-radius: 50%;
    padding: 0.3rem;
    margin-right: 0.5rem;
    margin-bottom: 1.2rem;
    display: flex;
}


.avatar-container ion-avatar {
    box-shadow: var(--neumorphism-in-shadow);
    width: 48px;
    height: 48px;
}

.header-page ion-toolbar {
    box-shadow: var(--neumorphism-out-shadow);
    border-radius: 1rem;
}

.header-page ion-toolbar .avatar-container {
    margin: 0.8rem;
}
